<div class="row newAnimal">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s9">
          {{input value=name id="name"}}
          <label for="name">Name</label>
        </div>
        <div class="input-field col s3">
          {{input value=cost id="cost"}}
          <label for="cost">Cost</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          {{input value=picture id="picture"}}
          <label for="picture">Picture Url</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          {{input value=description id="description" maxlength="75"}}
          <label for="last_name">Description</label>
        </div>
      </div>

      <button class="btn" {{action 'addAnimal'}}>Add!</button>
    </form>
  </div>
