<div class="row">
  <div class="col s8 animalsDiv">
    {{animal-tile model=model addToCart="addToCart"}}
  </div>

  <div class="col s4 usersDiv">
    <h4>Sign-up!</h4>
    {{new-user addUser="addUser"}}
    <br>
    <div class="divider">
    </div>

    <h4>active users:</h4>
    <ul class="userList">
      {{#each model.users as |user|}}
      <div class="row">
        <div class="col s2">
            <!-- <i class="material-icons iconSmall">perm_identity</i> -->
          <img src="{{user.picture}}" class="profilePic">
        </div>
        <div class="col s6 lineUp">
        {{#link-to 'password' user.id user=model}}<span class="profileLink">{{user.name}}</span>{{/link-to}}<br>
        </div>
      </div>
      {{/each}}
    </ul>
  </div>
</div>

<hr>

{{animal-cart model=model removeFromCart="removeFromCart"}}
